<div class="mainBody">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="br">
          <th mat-header-cell *matHeaderCellDef> Broj casa </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.br}} </td>
        </ng-container>

        <ng-container matColumnDef="pon">
          <th mat-header-cell *matHeaderCellDef> Ponedeljak </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.pon}} </td>
        </ng-container>
      
        <ng-container matColumnDef="uto">
          <th mat-header-cell *matHeaderCellDef> Utorak </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.uto}} </td>
        </ng-container>
      
        <ng-container matColumnDef="sre">
          <th mat-header-cell *matHeaderCellDef> Sreda </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.sre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cet">
          <th mat-header-cell *matHeaderCellDef> Cetvrtak </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.cet}} </td>
        </ng-container>

        <ng-container matColumnDef="pet">
          <th mat-header-cell *matHeaderCellDef> Petak </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.pet}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>