.mainBody{
    width: 90%;
    margin-top: 5%;
}

table{
    width: 100%;
}

.oceneTable{
    max-height: 500px;
    overflow: auto;
}

#lastRow{
    font-weight: bold;
}

#backBtn{
    margin-top: 3%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}