form {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

form > * {
    width: 60%;
}

.form-container > * { 
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.rSide{
    float: right;
    width: 69%;
    height: 100%;
}

.lSide{
    float: left;
    width: 30%;
    height: 100%;
}